.web {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: x-large;
    padding-top: 20px;
}

.smk {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-weight: bolder;
    color: rgb(125, 2, 248);
    font-size: x-large;
}

.smk2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(23, 23, 239);
    
}

.ib1 {
    color: black;
    background-color: rgb(112, 112, 238);
    line-height: 45px;
}

.ib2 {
    color: black(252, 113, 97);
    background-color: red;
    line-height: 45px;

}

.ib3 {
    color: black(16, 16, 18);
    background-color: greenyellow;
    line-height: 45px;
}

.name {
    color:black(233, 55, 186);
    color: blue;
    
    
}